body
{
    padding: 10px;
	margin: 40px;
	font-size: 24px;
	font-family: Helvetica;
	background-image: url(https://i.pinimg.com/originals/df/07/7e/df077e60019d7962ba7c5e34f9b0864d.jpg);
background-repeat:  no-repeat;
background-size: auto;
	color: white;
}

nav
{
    background-color: white;
	padding: 0px;
	color: blue;
}